@page "/"

@inject IDailyDashService dailyDashService

<PageTitle>Index</PageTitle>

<h2>Recent Dashes</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Amount</th>
                <th scope="col">Mileage(miles)</th>
                <th scope="col">Hourly Rate</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @if (isLoading)
            {
                <div class="centered">
                    <img src="images/loading.gif" />
                </div>
            }
            else
            {
                @foreach (var dash in dailyDashList)
                {
                    <tr>
                        <td>
                            @dash.Id
                        </td>
                        <td>
                            @dash.Date.ToShortDateString()
                        </td>
                        <td>
                            @dash.StartTime.ToShortTimeString()
                        </td>
                        <td>
                            @dash.EndTime.ToShortTimeString()
                        </td>
                        <td>
                            @dash.Amount.ToString("C2")
                        </td>
                        <td>
                            @dash.Mileage
                        </td>
                        <td>
                            @dash.HourlyRate.ToString("C2")
                        </td>
                        <td>
                            <NavLink class="nav-link" href=@($"/UpdateDash/{dash.Id}")>
                                <span class="oi oi-plus" aria-hidden="true"></span> Edit
                            </NavLink>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

@code {
    bool successVisible = false;
    bool failureVisible = false;
    bool isLoading = false;

    IEnumerable<DailyDashModel> dailyDashList = new List<DailyDashModel>();


    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        dailyDashList = await dailyDashService.GetDailyDashList();
        isLoading = false;
    }
}